h2{
    background-color: blueviolet;
    font-size: larger;
}
.first{
    background-color: brown;
font-style: italic;
}
#kk{
    background-color: goldenrod;
}
.byt{
    background: red;
    font-size: xx-large;
}