p{
    color: blue;
    background-color: blueviolet;

}
div{
    background-color: aquamarine;
    color: green;
}
p{
    color: aqua;
    background-color: red;
}
.class{
background-color: pink;
color: orange;
font-size: larger;
}
.bhavana{
    background-color: white;

}
.bhavana input{
background-color: yellow;
}