/*input{
    font-style: oblique;
    
    width:160px;
    height:40px;
}
    
    
#p1{
    position:absolute;
    left: 600px;
    top: 50px;
}
.p2{
    font-weight: bolder;
    font-size: x-large;
    left: 600px;
    top: 120px;
}
#p2{
    position:absolute;
    left: 540px;
    top: 80px;
}*/


#p1{
    position: absolute;
    left: 600px;
    top: 80;
}
#p2{
    position: absolute;
    left: 550px;
    top: 100px;
}
.p2{
    position: absolute;
    left:560px ;
    top:160px;
}
.p3{
    position: absolute;
    left: 560px;
    top:200px ;
}
button{
    position: absolute;
    left: 560px;
    top:240px ;
    
}
h6{
    position: absolute;
    left: 560px;
    top:260px ;
}
.a1{
    position: absolute;
    left: 560px;
    top:320px ;
}
.a2{
    position: absolute;
    left: 560px;
    top:360px ;
}